/* 1. Importation des polices */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;600;700&display=swap");

/* 2. Variables de design */
:root {
  --color-bg: #f9f9f9;
  --color-text: #1a1a2e;
  --color-secondary: #4a4a4a;
  --color-accent-yellow: rgba(238, 163, 2, 1);
  --color-accent-red: rgba(225, 59, 37, 1);
  --color-accent-blue: rgba(128, 216, 218, 1);

  --font-title: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* 3. Reset de base */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* 4. Titres */
h1,
h2,
h3 {
  font-family: var(--font-title);
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  font-style: Bold;
}
h3 {
  font-size: 1rem;
}
.valeur {
  font-weight: 700;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.875rem;
}

/* 5. Navigation mobile */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  width: 50%;
  padding-bottom: 0.7rem;
}
li {
  list-style: disc;
  margin: 0 1rem;
  font-size: 0.875rem;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 20rem;
  height: auto;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

/* 6. Boutons */
.cta-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  display: flex; /* Ajouté */
  justify-content: center; /* Ajouté */
  align-items: center; /* Ajouté */
  border-radius: 50%;
  font-family: var(--font-title);
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0.5rem 0;
  width: 6rem;
  height: 6rem;
  text-align: center;
  border: #000000 solid 0.1rem;
  font-size: medium;
  padding: 0; /* Remplace 'auto' par 0 */
}

.button-yellow {
  background-color: var(--color-accent-yellow);
  color: #000000;
}

.button-red {
  background-color: var(--color-accent-red);
  color: #000000;
}

.button-blue {
  background-color: var(--color-accent-blue);
  color: #000000;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: #b3b3b8 solid 0.006rem;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
}
footer > p > a > img {
  width: 1.1rem;
  height: auto;
  padding: 0 0.18rem;
}

footer > p > a > img:hover {
  width: 1.4rem;
  height: auto;
  padding: 0 0.2rem;
}

/*Page CV*/
.curriculum {
  padding: 0 1rem;
}
.title-cv {
  padding: 1.3rem 0;
}
.poste {
  padding-bottom: 0.8rem;
}

.experience {
  padding-bottom: 1.5rem;
}
.exp-pro,
.diplome,
.competence {
  border-bottom: #b3b3b8 solid 0.006rem;
}
.competence {
  padding-bottom: 1.5rem;
}

/*Page Projets*/
.project {
  margin: 1.1rem;
}
.picture-projet {
  width: 370px;
  height: auto;
  opacity: 1;
  border: 20px solid #dfdfdf;
  margin: 0.5rem 0 1rem 0;
}
.projet {
  display: flex;
  flex-direction: column-reverse;
}
.title {
  text-align: center;
}
.title-projet {
  padding: 2rem 0 1rem 0;
}

/*Contact*/
.no-phone {
  display: none;
}
label {
  font-size: 0.875rem;
  margin: 0 0.5rem;
}
.formulaire {
  display: flex;
  justify-content: space-around;
}
input,
textarea {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  border: 0.15rem solid #000000;
  font-size: 0.875rem;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-accent-blue);
  box-shadow: 0 0 5px var(--color-accent-blue);
}
.envoyer {
  margin-top: 1.52rem;
}
/* Responsive tablette*/
@media screen and (min-width: 760px) and (max-width: 1023px) {
  .nom {
    font-size: 1.1rem;
    text-align: left;
    width: 50%;
  }
  h1 {
    font-size: 2.1rem;
  }
  header {
    padding: 2rem;
    display: flex;
    width: 100%;
  }
  nav {
    display: block;
    font-family: var(--font-title);
    font-weight: 400;
    text-align: right;
    width: 50%;
    margin: 0;
  }
  nav a {
    padding: 2rem;
  }
  .hero {
    flex-direction: row;
    text-align: left;
    padding: 2rem 5rem 0 5rem;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .hero-image img {
    width: 25rem;
    height: auto;
  }
  .hero-text {
    text-align: left;
    align-items: start;
    display: initial;
  }
  .hero-text > h1,
  .hero-text > h2 {
    text-align: left;
  }
  footer {
    flex-direction: row;
    text-align: start;
    align-items: start;
    line-height: 2rem;
  }
  /*Page CV*/
  .curriculum {
    padding: 0 2.5rem;
  }
  /*Page Projets*/
  .project {
    padding-left: 2rem;
  }
  .title {
    text-align: left;
  }
  .projet {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }
  .description-projet {
    width: 50%;
  }

  /*Page Contact*/
  .no-phone {
    display: block;
  }
}

/* Responsive desktop */
@media screen and (min-width: 1024px) {
  .nom {
    font-size: 1.2rem;
    text-align: left;
    width: 50%;
  }
  h1 {
    font-size: 3rem;
  }
  header {
    padding: 2rem;
    display: flex;
    width: 100%;
  }
  nav {
    display: block;
    font-family: var(--font-title);
    font-weight: 400;
    text-align: right;
    width: 50%;
    margin: 0;
  }
  nav a {
    padding: 2rem;
  }
  .hero {
    flex-direction: row;
    padding: 2rem 17rem 0 12rem;

    margin-bottom: 4rem;
    width: 100%;
    justify-content: center;
  }
  .hero-image {
    width: 50%;
  }
  .hero-image img {
    width: 25rem;
    height: auto;
  }
  .hero-text {
    text-align: left;
    align-items: start;
    display: initial;
  }
  .hero-right {
    width: 50%;
  }
  .hero-text > h1,
  .hero-text > h2 {
    text-align: left;
  }
  footer {
    flex-direction: row;
    text-align: start;
    align-items: start;
    line-height: 2rem;
  }

  /*Page CV*/
  .curriculum {
    padding: 0 5rem;
  }
  /*Page Projets*/
  .project {
    padding-left: 2rem;
  }
  .title {
    text-align: left;
  }
  .projet {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }
  .description-projet {
    width: 50%;
  }
  .image-projet {
    width: 50%;
  }
  /*Page Contact*/
  .no-phone {
    display: block;
    padding-bottom: 5rem;
  }
  .no-phone h2,
  .no-phone p {
    padding-bottom: 1rem;
  }
  .container-contact {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 3rem 0 5rem 0;
  }
  input,
  textarea {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
    border: 0.15rem solid #000000;
    font-size: 0.875rem;
    width: 17rem;
  }
  textarea {
    height: 10rem;
  }
  .envoyer {
    height: 10rem;
    width: 10rem;
  }
  .formulaire {
    gap: 3rem;
  }
}
